[Unit]
Description=Check for new RSI Bot deployments (every 1 min)

[Timer]
OnBootSec=60
OnUnitActiveSec=60
AccuracySec=5

[Install]
WantedBy=timers.target
